{% for post in include.posts %}
<li class="blog-post"
    data-category="{{ post.categories | join: ',' }}">


	<div class="post-thumbnail">
		{% if post.image %}
		<img src="{{ post.image }}" alt="{{ post.title }}">
		{% endif %}
	</div>


	<div class="post-info">

		<h3>
			<a href="{% include relative-src.html src=post.url %}">
				{{ post.title }}
			</a>
		</h3>

		{% include post-title.html post=post %}

		<div class="post-content">
			<!-- {{ post.excerpt | strip_html | truncate: 200}} -->

			<div class="button">
				<a href="{% include relative-src.html src=post.url %}">
					더보기
				</a>
			</div>
		</div>

	</div>

</li>
{% endfor %}
