---
title: 작업사례
description: 고쳐드림이 진행한 다양한 작업 사례를 사진과 함께 소개합니다
permalink: /works/
---

<div class="text-container">

	<p class="editor-link">
		<a href="cloudcannon:collections/_posts" class="btn">
			<strong>&#9998;</strong> Add Post
		</a>
	</p>

	<div class="category-filter">

		<button class="active" data-category="all">
			전체
		</button>

		{% assign categories = site.categories | sort %}

		{% for category in categories %}
			<button data-category="{{ category[0] }}">
				{{ category[0] }}
			</button>
		{% endfor %}

	</div>


	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
	...
	{% endif %}

</div>

<script>

const buttons=document.querySelectorAll(".category-filter button");
const posts=document.querySelectorAll(".blog-post");

buttons.forEach(button=>{

	button.onclick=()=>{

		buttons.forEach(b=>b.classList.remove("active"));
		button.classList.add("active");

		const category=button.dataset.category;

		posts.forEach(post=>{

			if(category==="all" ||
    			post.dataset.category.split(",").includes(category)){


				post.style.display="";

			}else{

				post.style.display="none";

			}

		});

	};

});

</script>
